<!DOCTYPE html>
<html lang="en">
	<head>
	</head>
	<body>
		<div class="container">
			<div class="col-md-11 col-md-offset-1 padding-none">
				<h1>Edit {{spirit.name}}</h1>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-1 padding-top">
					<form action="{{url_for('editSpirit', spirit_id = spirit.id)}}" method = "post">
						<div class="form-group">
							<label for="name">Name:</label>
							<input type ="text" class="form-control" name="name" value="{{spirit.name }}">
							<label for="description">Description:</label>
							<input type ="text" class="form-control" name="description" value="{{spirit.description }}">
							<div class="padding-bottom"></div>
							<button type="submit" class="btn btn-default" id="submit" type="submit">
							
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
						</div>
					</form>
							<a href = "{{url_for('showSpirits')}}">
							<button class="btn btn-default cancel">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
							</a>

							<a href = "{{url_for('deleteSpirit', spirit_id = spirit.id)}}">
							<button class="btn btn-default delete">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>
							</a>
						
					
				</div>
			</div>
	</body>
</html>