<!DOCTYPE html>
<html lang="en">
<head>
</head>
	<body>
		<div class="container">
			<div class = 'flash'>
    			{% with messages = get_flashed_messages() %}
					{% if messages %}
      			<ul>
      				{% for message in messages %}
      			<li> <strong> {{ message }} </strong> </li>
    				{% endfor %}
    			</ul>
					{% endif %}
					{% endwith %}
				</div>

				{% for spirit in spirits %}
				<a href = "{{url_for('editSpirit', spirit_id = spirit.id)}}">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 spirit-list">
								<h3>{{spirit.name}}</h3>
							</div>
						<div class="col-md-1"></div>
					</div>
				</a>
			{% endfor %}
			<a href="{{url_for('newSpirit')}}">New Spirit</a>

		</div>
	</body>
</html>