{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="main-section">
		<h1>Here is how you make {{recipe.name}}</h1>
		<p class="description">Description: {{recipe.description}}</p>
		<p class="ingredients">Ingredients: {{recipe.ingredients}}</p>	
		<p class="instructions">Instructions: {{recipe.description}}</p>
	<a href = "{{url_for('showRecipes', spirit_id = spirit_id)}}">
	<button class="btn btn-default delete">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Go Back</button>
	</a>
</div>
{% include "footer.html" %}
{% endblock %}
