<html>
<head></head>

<body>
	<h1>Add a new menu item to {{restaurant.name}}'s menu</h1>

	<div>
		<p>
			<form action="{{ url_for('newMenuItem',restaurant_id=restaurant.id)}}" method ='post'>
				Dish Name:<br>
				<input type="text" name="item-name" value="Enter dish name"><br><br>
				Type:<br>
				Description:<br>
				<input type="text" name="item-description" value="Dish description"><br><br>
				Price:<br>
				<input type="text" name="item-price" value="$x.xx"><br><br>
				<div>
					<input type="radio" name="item-course" value="Appetizer" checked>Appetizer<br> 
					<input type="radio" name="item-course" value="Entree">Entree<br>
					<input type="radio" name="item-course" value="Desert">Desert<br>
					<input type="radio" name="item-course" value="Drink">Drink<br>
				</div>

				<input type="submit" value="Submit">
				<a href="{{url_for('showMenu', restaurant_id=restaurant_id )}}">Cancel</a>
			</form>

			<br><br>
		</p>
		
</body>
</html>