<html>
<head></head>

<body>
	<h1>Add a new menu item to {{restaurant.name}}'s menu</h1>

	<div>
		<p>
			<form>
				Dish Name:<br>
				<input type="text" name="#" value="Enter dish name"><br><br>
				Type:<br>
				<select name="type">
				  <option value="appetizer">Appetizer</option>
				  <option value="entree">Entree</option>
				  <option value="desert">Desert</option>
				  <option value="drink">Drink</option>
				</select><br><br>
				Description:<br>
				<input type="text" name="#" value="{{item.description}}"><br><br>
				Price:<br>
				<input type="text" name="#" value="$x.xx"><br><br>
				<a href="#"><input type="submit" value="Submit"></a>
				<a href="#"><input type="submit" value="Cancel"></a>
			</form>

			<br><br>
		</p>
		
</body>
</html>