<html>
<head></head>

<body>
	<h1>Restaurants</h1>

	<a href="{{url_for('newRestaurant')}}" > <h3> Add a New Restaurant </h3> </a>

	{% if not restaurants %}
		<p>There are not restaurants in our database</p>

	{% else %}
	{% for restaurant in restaurants %}

	<div>
		<p>
			{{restaurant.name}}
			<br>
			<a href="{{url_for('editRestaurant',restaurant_id = restaurant.id)}}">Edit</a>
			<br>
			<a href="{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}">Delete</a>
			<br><br>
		</p>
	{% endfor %}
	{% endif %}
</body>
</html>